.submitButton {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
}

.submitButton.colorless{
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.submitButtonContent {
    font-size: 16px;
    font-weight: bold;
}