:root {
  --background: #000;
  --backgroundContrast: #fff;
  --foreground: #171717;
  --backgroundOverlay: rgba(0, 0, 0, 0.5);
  --fontColor: #fff;
  --fontColorContrast: #000;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: var(--font-song-myung);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
