:root {
  --background: #000;
  --backgroundContrast: #fff;
  --foreground: #171717;
  --backgroundOverlay: rgba(0, 0, 0, 0.5);
  --fontColor: #fff;
  --fontColorContrast: #000;
  --fontSecondaryColor: #585858;
  --secondaryColor: #E9E9E9;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 2;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: var(--font-song-myung);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.map-container div {
  width: 100%;
}

.not-foun-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 108px);
  padding-bottom: calc(env(safe-area-inset-bottom));
  position: relative;
  color: var(--fontColor);
}