.languageSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  flex-direction: column;
}

.languageSwitcher button {
  font-size: 0.9rem;
  padding: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.regularLink {
  text-decoration: none;
}

.languageSwitcher button:hover,
.activeLink {
  text-decoration: underline;
}