.main{
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.stepper{
  background: white;
  position:relative;
  height:calc(100vh - 70px);
  width: 100vw;
  min-width: 150px;
  max-width: 600px;
  overflow-y:auto;
  scrollbar-width: none;
}

@media screen and (min-width: 768px) {
  .stepper{
    height:calc(100vh - 180px);
  }
  
}

@media screen and (max-height: 414px) {
  .stepper{
    height:100vh;
  }

}


