.container {
  display: flex;
  column-gap: 3rem;
  border-top: 1px solid var(--secondaryColor);
  padding: 1rem 0;
}

.text {
  width: 100%;
}

.unitPrice {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-bottom: 0.5rem;
  font-weight: 600;
  align-items: flex-end;
}
.unit {
  font-size: 0.8rem;
  color: var(--fontSecondaryColor);
}
.title {
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.description {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: var(--fontSecondaryColor);
}